@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Jost", sans-serif;
}
header {
  text-align: center;
  background-color: #35155d;
  color: #d8d9da;
  margin: 0;
  position: relative;
  top: -22px;
}
header h1 {
  padding: 30px;
}
#background {
  /*background-image: url("https://www.shutterstock.com/shutterstock/videos/9569429/thumb/1.jpg");*/
  position: fixed;
  background-color: #512b81;
}
.container {
  border: solid 5px #35155d;
  background-color: #4477ce;
  width: 60%;
  height: 60vh;
  position: relative;
  border-radius: 20px;
  text-align: left;
}
.container p {
  font-size: 19px;
  position: relative;
  left: 5px;
}
